<!DOCTYPE html>
<html lang="en">
<head>
    <title>${PRODUCT_NAME} Password Reset</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
    <form id="passwordResetForm">
        <label for="password">New Password:</label>
        <input type="password" name="password" />
        <input type="submit" />
    </form>
    <div id="response"></div>
</body>
<script>
    passwordResetForm.onsubmit = async (e) => {
        e.preventDefault();
        var form = document.querySelector("#passwordResetForm");
        const url = document.createElement('a');
        url.setAttribute('href', window.location.href);
        const urlParams = new URLSearchParams(window.location.search);
        data = {
            password: form.querySelector('input[name="password"]').value,
            email: urlParams.get('email'),
            ticket: urlParams.get('ticket'),
        }
        let postUrl = window.location.origin + '/' + url.pathname.split('/')[1] + '/auth/change-password/verify';
        let response = await fetch(postUrl, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data),
        });
        let resp = await response;
        if (resp.status === 204) {
            document.querySelector("#response").innerHTML = "Password updated.";
        } else {
            resp.json().then(data => {
                if (data && data.message) {
                    document.querySelector("#response").innerHTML = data.message;
                } else {
                    document.querySelector("#response").innerHTML = "Password update failed, please try again.";
                }
            })
            .catch((reason) => {
                document.querySelector("#response").innerHTML = "Password update failed, please try again.";
            });
        }
    };
</script>
</html>
